---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:a%2Bmany-splendoured%2Bthing%2Bisbn:123456789012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 06 Nov 2023 19:56:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:surprised%2Bby%2Bjoy%2Bisbn:123456789012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 1,
          "items": [
            {
              "kind": "books#volume",
              "id": "9hWKm2sFV2gC",
              "etag": "stY/bdSrvtI",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/9hWKm2sFV2gC",
              "volumeInfo": {
                "title": "Surprised by Joy",
                "subtitle": "The Shape of My Early Life",
                "authors": [
                  "Clive Staples Lewis"
                ],
                "publisher": "Houghton Mifflin Harcourt",
                "publishedDate": "1956",
                "description": "C.S. Lewis tells the story of how he passed from atheism to Christianity, giving information on his childhood and adolescence as background to understanding his spiritual life.",
                "industryIdentifiers": [
                  {
                    "type": "ISBN_10",
                    "identifier": "0151001855"
                  },
                  {
                    "type": "ISBN_13",
                    "identifier": "9780151001859"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": true
                },
                "pageCount": 252,
                "printType": "BOOK",
                "categories": [
                  "Anglican converts"
                ],
                "averageRating": 5,
                "ratingsCount": 2,
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "0.3.5.0.preview.1",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=9hWKm2sFV2gC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
                  "thumbnail": "http://books.google.com/books/content?id=9hWKm2sFV2gC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                },
                "language": "en",
                "previewLink": "http://books.google.com/books?id=9hWKm2sFV2gC&printsec=frontcover&dq=intitle:surprised%2Bby%2Bjoy%2Bisbn:123456789012&hl=&as_pt=BOOKS&cd=1&source=gbs_api",
                "infoLink": "http://books.google.com/books?id=9hWKm2sFV2gC&dq=intitle:surprised%2Bby%2Bjoy%2Bisbn:123456789012&hl=&as_pt=BOOKS&source=gbs_api",
                "canonicalVolumeLink": "https://books.google.com/books/about/Surprised_by_Joy.html?hl=&id=9hWKm2sFV2gC"
              },
              "saleInfo": {
                "country": "US",
                "saleability": "NOT_FOR_SALE",
                "isEbook": false
              },
              "accessInfo": {
                "country": "US",
                "viewability": "PARTIAL",
                "embeddable": true,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED",
                "epub": {
                  "isAvailable": false
                },
                "pdf": {
                  "isAvailable": true,
                  "acsTokenLink": "http://books.google.com/books/download/Surprised_by_Joy-sample-pdf.acsm?id=9hWKm2sFV2gC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
                },
                "webReaderLink": "http://play.google.com/books/reader?id=9hWKm2sFV2gC&hl=&as_pt=BOOKS&source=gbs_api",
                "accessViewStatus": "SAMPLE",
                "quoteSharingAllowed": false
              },
              "searchInfo": {
                "textSnippet": "C.S. Lewis tells the story of how he passed from atheism to Christianity, giving information on his childhood and adolescence as background to understanding his spiritual life."
              }
            }
          ]
        }
  recorded_at: Mon, 06 Nov 2023 19:57:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:sleep%2Bthe%2Bbrave%2Bisbn:123456789012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 06 Nov 2023 20:07:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:it%27s%2Ba%2Bbattlefield%2Bisbn:123456789012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 06 Nov 2023 20:11:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:cover%2Bher%2Bface%2Bisbn:123456789012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 06 Nov 2023 23:10:32 GMT
recorded_with: VCR 6.1.0
