---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:the%2Bsuper%2Bchicken%2Bcookbook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 548,
          "items": [
            {
              "kind": "books#volume",
              "id": "_r0tnQEACAAJ",
              "etag": "f8oUE6ICL9s",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/_r0tnQEACAAJ",
              "volumeInfo": {
                "title": "The Super Chicken Cookbook",
                "authors": [
                  "Iona Nixon"
                ],
                "publishedDate": "1979",
                "industryIdentifiers": [
                  {
                    "type": "OTHER",
                    "identifier": "OCLC:9287233"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": false
                },
                "pageCount": 176,
                "printType": "BOOK",
                "categories": [
                  "Cooking (Poultry)"
                ],
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "preview-1.0.0",
                "language": "en",
                "previewLink": "http://books.google.com/books?id=_r0tnQEACAAJ&dq=intitle:the%2Bsuper%2Bchicken%2Bcookbook&hl=&as_pt=BOOKS&cd=1&source=gbs_api",
                "infoLink": "http://books.google.com/books?id=_r0tnQEACAAJ&dq=intitle:the%2Bsuper%2Bchicken%2Bcookbook&hl=&as_pt=BOOKS&source=gbs_api",
                "canonicalVolumeLink": "https://books.google.com/books/about/The_Super_Chicken_Cookbook.html?hl=&id=_r0tnQEACAAJ"
              },
              "saleInfo": {
                "country": "US",
                "saleability": "NOT_FOR_SALE",
                "isEbook": false
              },
              "accessInfo": {
                "country": "US",
                "viewability": "NO_PAGES",
                "embeddable": false,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED",
                "epub": {
                  "isAvailable": false
                },
                "pdf": {
                  "isAvailable": false
                },
                "webReaderLink": "http://play.google.com/books/reader?id=_r0tnQEACAAJ&hl=&as_pt=BOOKS&source=gbs_api",
                "accessViewStatus": "NONE",
                "quoteSharingAllowed": false
              }
            },
            {
              "kind": "books#volume",
              "id": "hsxHGwAACAAJ",
              "etag": "wqpN2vGafhE",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/hsxHGwAACAAJ",
              "volumeInfo": {
                "title": "The Super Chicken Cookbook",
                "authors": [
                  "Claudia Carlin"
                ],
                "publishedDate": "1979",
                "industryIdentifiers": [
 [...]
