---
http_interactions:
- request:
    method: get
    uri: 'https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle:the%2Bsuper%2Bchicken%2Bcookbook%2Binauthor:'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 1,
          "items": [
            {
              "kind": "books#volume",
              "id": "F55BAQAAIAAJ",
              "etag": "3qMUdASn7Lk",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/F55BAQAAIAAJ",
              "volumeInfo": {
                "title": "The Publishers' Trade List Annual",
                "publishedDate": "1974",
                "industryIdentifiers": [
                  {
                    "type": "OTHER",
                    "identifier": "STANFORD:36105124489183"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": false
                },
                "pageCount": 1872,
                "printType": "BOOK",
                "categories": [
                  "American literature"
                ],
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "0.7.7.0.preview.0",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=F55BAQAAIAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
                  "thumbnail": "http://books.google.com/books/content?id=F55BAQAAIAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                },
                "language": "en",
                "previewLink": "http://books.google.com/books?id=F55BAQAAIAAJ&q=intitle:the%2Bsuper%2Bchicken%2Bcookbook%2Binauthor:&dq=intitle:the%2Bsuper%2Bchicken%2Bcookbook%2Binauthor:&hl=&as_pt=BOOKS&cd=1&source=gbs_api",
                "infoLink": "http://books.google.com/books?id=F55BAQAAIAAJ&dq=intitle:the%2Bsuper%2Bchicken%2Bcookbook%2Binauthor:&hl=&as_pt=BOOKS&source=gbs_api",
                "canonicalVolumeLink": "https://books.google.com/books/about/The_Publishers_Trade_List_Annual.html?hl=&id=F55BAQAAIAAJ"
              },
              "saleInfo": {
                "country": "US",
                "saleability": "NOT_FOR_SALE",
                "isEbook": false
              },
              "accessInfo": {
                "country": "US",
                "viewability": "NO_PAGES",
                "embeddable": false,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED",
                "epub": {
                  "isAvailable": false
                },
                "pdf": {
                  "isAvailable": false
                },
                "webReaderLink": "http://play.google.com/books/reader?id=F55BAQAAIAAJ&hl=&as_pt=BOOKS&source=gbs_api",
                "accessViewStatus": "NONE",
                "quoteSharingAllowed": false
              },
              "searchInfo": {
                "textSnippet": "... \u003cb\u003eCOOKBOOK\u003c/b\u003e De Proft ... 4.95 6.95 AFTERMATH OF SOVEREIGNTY Lowenthal ; Comitas . AFTERWORDS Brockman . 2.50 3.50 AGAIN ... \u003cb\u003eSUPER\u003c/b\u003e - SPY Teague 4.50 AMERICAN HISTORY MADE SIMPLE Estrin 1.95 4.50 AMERICAN ILLUSTRATED \u003cb\u003eCOOK BOOK\u003c/b\u003e AGES IN CHAOS&nbsp;..."
              }
            }
          ]
        }
  recorded_at: Wed, 08 Nov 2023 21:49:02 GMT
recorded_with: VCR 6.1.0
