<center><h1> <%= @user.first_name %>'s Library </h1></center>

<h3><%= link_to 'Add a cookbook to my library', new_user_library_cookbook_path(@user.id, @user.library.id) %></h3>

<table id="library">
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
  <% @cookbooks.each do |cookbook| %>
    <tr>
    <td><%= cookbook.title %></td> 
    <td><%= cookbook.author %></td>
    </tr>
  <% end %>
</table>