---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=inauthor:eng%2Btie%2Bang
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 15,
          "items": [
            {
              "kind": "books#volume",
              "id": "qsEOAAAACAAJ",
              "etag": "UDLM9Q5mfrg",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/qsEOAAAACAAJ",
              "volumeInfo": {
                "title": "Delightful Thai Cooking",
                "authors": [
                  "Eng Tie Ang"
                ],
                "publishedDate": "1990",
                "description": "Thai food is becoming increasingly popular, and this great new cookbook tellshow to prepare more than 100 delicious Thai dishes, most of which can be madein less than an hour. Includes detailed instructions, line drawings and colorphotographs.",
                "industryIdentifiers": [
                  {
                    "type": "ISBN_10",
                    "identifier": "0962781045"
                  },
                  {
                    "type": "ISBN_13",
                    "identifier": "9780962781049"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": false
                },
                "pageCount": 0,
                "printType": "BOOK",
                "categories": [
                  "Cookery, Thai"
                ],
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "preview-1.0.0",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=qsEOAAAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
                  "thumbnail": "http://books.google.com/books/content?id=qsEOAAAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                },
                "language": "en",
                "previewLink": "http://books.google.com/books?id=qsEOAAAACAAJ&dq=inauthor:eng%2Btie%2Bang&hl=&as_pt=BOOKS&cd=1&source=gbs_api",
                "infoLink": "http://books.google.com/books?id=qsEOAAAACAAJ&dq=inauthor:eng%2Btie%2Bang&hl=&as_pt=BOOKS&source=gbs_api",
                "canonicalVolumeLink": "https://books.google.com/books/about/Delightful_Thai_Cooking.html?hl=&id=qsEOAAAACAAJ"
              },
              "saleInfo": {
                "country": "US",
                "saleability": "NOT_FOR_SALE",
                "isEbook": false
              },
              "accessInfo": {
                "country": "US",
                "viewability": "NO_PAGES",
                "embeddable": false,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED",
                "epub": {
                  "isAvailable": false
                },
                "pdf": {
                  "isAvailable": false
                },
                "webReaderLink": "http://play.google.com/books/reader?id=qsEOAAAACAAJ&hl=&as_pt=BOOKS&source=gbs_api",
                "accessViewStatus": "NONE",
                "quoteSharingAllowed": false
              },
              "searchInfo": {
                "textSnippet": "Thai food is becoming increasingly popular, and this great new cookbook tellshow to prepare more than 100 delicious Thai dishes, most of which can be madein less than an hour."
              }
            },
            {
              "kind": "books#volume",
              "id": "Zm8AAAAACAAJ",
              "etag": "qpp1BZzCqFk",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/Zm8AAAAACAAJ",
              "volumeInfo": {
                "title": "Delightful Brazilian Cooking",
                "authors": [
                  "Eng Tie Ang"
                ],
                "publishedDate": "1993",
                "description": "BRAZILIAN COOKING is a huge melting pot of Purtuguese, indigenous Indian, African, Middle Eastern, and Italian cuisines resulting in a unique cultural blending of flavors. \"Spicy and robust!\" Includes over 130 recipes.",
                "industryIdentifiers": [
                  {
                    "type": "ISBN_10",
                    "identifier": "0962781029"
                  },
                  {
                    "type": "ISBN_13",
                    "identifier": "9780962781025"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": false
                },
                "pageCount": 0,
                "printType": "BOOK",
                "categories": [
                  "Cooking, Brazilian"
                ],
                "averageRating": 4,
                "ratingsCount": 1,
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "preview-1.0.0",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=Zm8AAAAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
                  "thumbn[...]
